html, body
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Go Back/Next button style */
p a.go-back,
p a.go-next
{
    color: white;
    transition: all 0.2s ease;
}

p a.go-back:hover,
p a.go-next:hover
{
    color: grey;
}

/* Article body Style (text outside the boxes) */
.article-body
{
    margin: 2em 0;
    font-size: 18px;
    text-align: justify;
    padding: 0 120px;
}

/* Adds margin to the title inside the boxes */
i.box-title h1
{
    margin-bottom: 2rem;
}

/* Conclusion Style */
.conclusion-title
{
    margin: 1em 0;
    text-align: justify;
    padding: 0 120px;
}

/* Article links style */
.link {
    color: #0984e3;
}

.references
{
    padding: 0 120px;
    font-size: 18px;
    margin-bottom: 2em;
}

.references p
{
    font-size: 20px;
    font-style: oblique;
    font-weight: 500;
    text-decoration: underline;
}

.references ul
{
    padding-left: 20px;
    list-style: square;
}

/* Don't know where this works
.ending {
    margin: 2em 0;
    font-size: 18px;
    text-align: justify;
    padding: 0 120px;
}
*/