.main {
    background-color: #283953;
    color: white;
    padding-top: 0rem;
    bottom: 0;
    width: 100%;

}

.Links-footer {
    color: white;
}

.Links-footer:hover{
    color: white;
}
.content-wrap{
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
}

.row-newsletter{
    position: relative;
    left: 200px;
}

.col {
    position: relative;
    right: 370px;
    top: 140px
}

.col-sm {
    position: relative;
    right: 300px;
    top: 140px
}

.list {
    position: relative;
    right: 400px;
}

.line {
    position: relative;
    right: 300px;
    top: 140px
}