.main {
    background-color: #283953;
    color: white;
    width: 100%;
    min-height: 50vh;
    padding-top: 1rem;
   
}



.Links-footer {
    color: white;
}

.Links-footer:hover{
    color: grey;
}
.content-wrap{
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
}

.row-newsletter{
    position: relative;
    left: 200px;
}

.col {
    position: relative;
    left: 180px;
    top: 140px
}

.col-sm {
    position: relative;
    right: 150px;
    top: 240px
}

.list {
    position: relative;
    right: 330px;
    top: 100px;
}

hr {
    position: relative;
    right: 200px;
    top: 240px;
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 1000px;
}

.com {
    position: relative;
    right: 468px;
    top: 170px;
    font-size: 2rem;
}

.home {
    position: relative;
    right: 500px;
    top: 310px;
}

.learn {
    position: relative;
    right: 480px;
    top: 310px;
}

.action {
    position: relative;
    right: 213px;
    top: 310px;
}

.about {
    position: relative;
    right: 420px;
    top: 310px;
}

.news {
    position: relative;
    right: 640px;
    top: 310px;
}

.quiz {
    position: relative;
    right: 620px;
    top: 310px;
}

.cf {
    position: relative;
    right: 350px;
    top: 310px;
}

.ig-tag {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.ig-tag:hover{
    text-decoration: none;
    color: grey;
}
