html, body
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Web Title*/
.Name
{
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 40px;
}

/*Slogan - "Towards a healthier world"*/
.sub
{
    font-size: 20px;
}

/*
    Page Slider

    CAUTION: For some reason the css file wont allow me to access content outside src. 
    I added a Slider folder to get access to the images used in the slider.
    
*/
.slider
{
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('./Slider/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    animation: slide 10s infinite;
}

/*Dark Box Content*/
.content
{
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 5px;
}

/*Header*/
.content h1
{
    margin-top: 0;
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

/*Sub Header*/
.content h2
{
    color: white;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
}

/*Button*/
.content .quiz-btn
{
    background: #0984e3;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

/*Button on hover*/
.content .quiz-btn:hover
{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    padding: 10px 24px;
    color: lightblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

/*Slider animation. Here you can add more images. Just make sure to subdivide the percentages by the total number of images*/
@keyframes slide 
{
    0%
    {
        background-image: url('./Slider/img1.jpg');
    }
    33%
    {
        background-image: url('./Slider/img2.jpg');
    }
    67%
    {
        background-image: url('./Slider/img3.jpg');
    }
}