
.navbar-container{
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  flex: 2;
  background-color: transparent;
}

.navbar-Logo {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 170px;
  max-height: 30px; 
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-menubar {
  display: flex;
  list-style: none;
  margin-right: 2rem;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
 
  }
  
  .nav-links {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    /* border-bottom: 3px solid transparent; */
    text-decoration: none;
  }
  
  .nav-links:hover {
    text-decoration: none;
  
  }

  
  .fa-code{
    margin-left: 1rem;
  }
  
  .nav-item{
    line-height: 40px;
    margin-right: 1rem;
  }

  .nav-item:after{
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.8s ease, background-color 0.5s ease;
  }

  .nav-item:hover:after{
    width: 100%;
    background: black;
   }

  
  .BlogDropDown{
    background-color:  #7BE0AD;
    margin: 10px;
    margin-left: 20px;
    padding: 20px 60px;
    font-size: 18px;
    justify-content: space-between;
    border-radius: 10px;
  }  
    
  .BlogDropDown:hover{
    transition: all 0.2s ease-out;
    color:rgb(255, 255, 255);
    

  }
  .itemLink{
    background-color: inherit;
    list-style: none;
  } 

  .itemLink a{
    text-decoration: none;
    list-style: none;
 
  } 

  .itemLink:hover{
    transition: width 0.8s ease, background-color 0.5s ease;
    color:rgb(255, 255, 255);
    text-decoration: none;
    
  }

    .menu-closeicon{
      display: none;
    }


    /* .MidSection{
      display: inline;
      flex: 1;
      height: 100%;
      
    }
    */



@media only screen and (max-width: 960px){
    
  .nav-menubar{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid white;
    position: absolute;
    top: 100px;
    left: -110%;
    opacity: 1;
    
  }

   .nav-menubar.active{
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;

  } 

  .nav-links{
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-menubar .navbar-Logo{
    left: 0;
    position: fixed;
  } 

  .menu-closeicon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

