.centerContent {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    background: rgb(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 5px;
    
  }

.centerContent h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.continueButton {
  background: #0984e3;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
}

.continueButton a {
  color: white;
}

.continueButton:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.subHeading {
  font-size: 20px;
}

.comName {
  color: black;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 40px;
}