
  .app {
    width: 850px;
    height: min-content;
    border-radius: 60px;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 600px;
    margin-top: 100px !important;
    font-size: 20px;
    text-decoration: none;
  }
  
  .score-section {
    display: flex;
    font-size: 40px;
    align-items: center;
    color: white;
    margin-right: 200px;
  }
  
  .question-section {
    width: 150%;
    height: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    color: white;
     display: felx;
   

  }
  
  .question-count {
    margin-bottom: 30px;
    font-size: 50px;
    
  }
  
  .question-count span {
    font-size: 50px;
    
  }
  
  .question-text {
    margin-bottom: 50px;
    font-size: 40px;
    
    
  }
  
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(7, 31, 85);
    border-radius: 50px;
    display: grid;
    padding: 15px 32px;
    cursor: pointer;
    margin-top: 10px !important;
  }
  
  .score-count{
    font-size: 50px;
    color: white;
    margin-left: 900px;
    margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  
  }

  .Score-btn{
    position: absolute;
    bottom: 480px;
    left: 720px;
    color: white;
    font-size: 100px;
    font-family: Alegreya Sans;
    text-decoration: none !important;
   
  }

  
  .Score-btn2{
    position: absolute;
    bottom: 280px;
    left: 720px;
    color: white;
    font-size: 100px;
    font-family: Alegreya Sans;
    text-decoration: none !important;

   
  }
  
  .bar{
    color: black;
    font-size: 0px;
    height: 00px;
    padding: 20px;
  }





  

  