
  img {
    width: 1900px;
    height: 1200px;
  }

  .QuizTitle{
    position: absolute;
    bottom: 520px;
    left: 690px;
    color: white;
    font-size: 90px;
    font-family: Alegreya Sans;
    
  }
  
  

  .main {
    padding-top: 10em;
   
   
  }

  .list{
    list-style: none;
  }

  
  .Carousels-Links {
    color: #FFF;
    font-size: 40px;
  }
  .Carousels-Links:hover {
     color: rgb(255, 255, 255);
     transition: all 0.2s ease-out;
     text-decoration: none;
  }

 
  
  

 