* {
    box-sizing: border-box;
    /* font-family: 'PT Sans', sans-serif; */
  
   
  }
 
  .App {
   
     background-position: center;
    background-size: cover; 
    background-repeat: no-repeat; 
    
  } 

 
  
  
  

 