.main {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    content: none;
   
  }


  video {
    
    width: 100%;
   margin-left: 0px;
    z-index: -1;
  }

  .list{
    list-style: none;
  }




 