.navbar {
    background:transparent;
  }

 
  .navbar-Logo {
    margin-top: 28px;
    margin-bottom: 45px;
    max-width: 170px;
    max-height: 30px;
    margin-left: 100px;  
    
  }
 
  

  .nav-menubar {
  display: grid;
  grid-template-columns: repeat(25, auto);
  grid-gap: 28px;
  list-style: none;
  margin-left: 150px;
  
  }

  .nav-links {
    color: rgb(0, 0, 0);
    padding: 2rem 2rem;
    font-size: 22px;
    justify-content: space-between;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid rgb(0, 0, 0);
    transition: all 0.2s ease-out;
    color: rgb(0, 0, 0);
    text-decoration: none;
  
}

.Button-link{

  background-color: #7BE0AD;;
  margin-left: 1620px; 
  margin-right: 90px;
  margin-top: -90px;
  display: grid;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  font-family: Alegreya Sans;
  padding: 15px 32px;
}

.Button-link:hover {
  transition: all 0.2s ease-out;
  color:black;
  text-decoration: none;  

}

  
  

 
  